<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/lib/layui/css/layui.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="__STATIC__/lib/layui/layui.js"></script>
    <script src="__STATIC__/js/my.js"></script>
</head>

<body>
    <button id='t2' class="layui-btn">测试按钮</button>
    <div class="layui-form-item">
        <label class="layui-form-label">输入框</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <blockquote class="layui-elem-quote">tab分页学习</blockquote>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>动态操作Tab</legend>
    </fieldset>

    <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="11">网站设置</li>
            <li lay-id="22">用户管理</li>
            <li lay-id="33">权限分配</li>
            <li lay-id="44">商品管理</li>
            <li lay-id="55">订单管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">内容1</div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
            <div class="layui-tab-item">内容4</div>
            <div class="layui-tab-item">内容5</div>
        </div>
    </div>
    <div class="site-demo-button" style="margin-bottom: 0;">
        <button class="layui-btn site-demo-active" data-type="tabAdd">新增Tab项</button>
        <button class="layui-btn site-demo-active" data-type="tabDelete">删除：商品管理</button>
        <button class="layui-btn site-demo-active" data-type="tabChange">切换到：用户管理</button>
    </div>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>性别</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name='list' id='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.sex}</td>
                <td>
                    <a href="javascript:" class="layui-btn" onclick="showIframe('编辑','showIf?id={$vo.id}',500,300)">编辑</a>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>进度条</legend>
    </fieldset>
    <div id="testxx"></div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>表格</legend>
    </fieldset>
    <table class="layui-table" lay-data="{height:313, url:'showData'}">
        <thead>
          <tr>
            <th lay-data="{field:'id', width:80, sort: true}">ID</th>
            <th lay-data="{field:'name', width:80}">用户名</th>
            <th lay-data="{field:'sex', width:80, sort: true}">性别</th>
            <th lay-data="{field:'city', width:80}">城市</th>
            <th lay-data="{field:'sign', width:177}">签名</th>
            <th lay-data="{field:'experience', width:80, sort: true}">积分</th>
            <th lay-data="{field:'score', width:80, sort: true}">评分</th>
            <th lay-data="{field:'classify', width:80}">职业</th>
            <th lay-data="{field:'wealth', width:135, sort: true}">财富</th>
          </tr>
        </thead>
    </table>

    <script>
        layui.use(['form', 'layer', 'element', 'laypage','table'], function () {

            var form = layui.form,
                element = layui.element,
                laypage = layui.laypage,
                table   = layui.table,
                layer = layui.layer;


            //触发事件
            var active = {
                tabAdd: function () {
                    //新增一个Tab项
                    element.tabAdd('demo', {
                        title: '<i class="layui-icon"> &#xe68e;</i>' + '新选项' + (Math.random() *
                                1000 | 0) //用于演示
                            ,
                        content: '内容' + (Math.random() * 1000 | 0),
                        id: new Date().getTime(), //实际使用一般是规定好的id，这里以时间戳模拟
                    })
                },
                tabDelete: function (othis) {
                    //删除指定Tab项
                    element.tabDelete('demo', '44'); //删除：“商品管理”
                    othis.addClass('layui-btn-disabled');
                },
                tabChange: function () {
                    //切换到指定Tab项
                    element.tabChange('demo', '22'); //切换到：用户管理
                }
            };

            $('.site-demo-active').on('click', function () {
                var othis = $(this),
                    type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });


            laypage.render({
                elem: 'testxx', //注意，这里的 test1 是 ID，不用加 # 号
                count: 70, //数据总数，从服务端得到
                limit: 6
            });
        });
    </script>
</body>

</html>